<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Mapping>
		<Packages>
			<Package>
				<Name>Australian pack</Name>
				<CountryName>Australia</CountryName>
				<CountryName_Eng>Australia</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Australia/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Deutsches Dunkel Pack</Name>
				<CountryName>Österreich</CountryName>
				<CountryName_Eng>Austria</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-de-logos/master/</BaseURL>
				<Logos_TV>TV/Dark/</Logos_TV>
				<Logos_Radio>Radio/Dark/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
				<StringPartsToRemove>
					<string> (a_S)</string>
					<string> (S)</string>
					<string> (VF)</string>
					<string> - CV</string>
					<string> </string>
					<string>.</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Deutsches Licht Pack</Name>
				<CountryName>Österreich</CountryName>
				<CountryName_Eng>Austria</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-de-logos/master/</BaseURL>
				<Logos_TV>TV/Simple/</Logos_TV>
				<Logos_Radio>Radio/Simple/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
				<StringPartsToRemove>
					<string> (a_S)</string>
					<string> (S)</string>
					<string> (VF)</string>
					<string> - CV</string>
					<string> </string>
					<string>.</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Belgisch pakket</Name>
				<CountryName>België</CountryName>
				<CountryName_Eng>Belgium</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Belgium/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>České balík</Name>
				<CountryName>Česko</CountryName>
				<CountryName_Eng>Czech Republic</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Czech/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Danish Set</Name>
				<CountryName>Danmark</CountryName>
				<CountryName_Eng>Denmark</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Denmark/trunk/LogoManager/</BaseURL>
				<Designs>Designs/</Designs>
				<Logos_TV>TV/</Logos_TV>
				<Logos_Radio>Radio/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove>
					<string> [$]</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Nordisk pakke</Name>
				<CountryName>Danmark</CountryName>
				<CountryName_Eng>Denmark</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-nordic-logos/master/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
				<StringPartsToRemove>
					<string> [$]</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Pohjoismainen pakkaus</Name>
				<CountryName>Suomi</CountryName>
				<CountryName_Eng>Finland</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-nordic-logos/master/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
			</Package>
			<Package>
				<Name>French pack</Name>
				<CountryName>France</CountryName>
				<CountryName_Eng>France</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-France/Trunk/LOGOS/</BaseURL>
				<Logos_TV>TV/Minimal/</Logos_TV>
				<Logos_Radio>RADIO/Minimal/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Deutsches Pack</Name>
				<CountryName>Deutschland</CountryName>
				<CountryName_Eng>Germany</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Germany/trunk/</BaseURL>
				<Logos_TV>tv/</Logos_TV>
				<Logos_Radio>radio/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove>
					<string> (a_S)</string>
					<string> (S)</string>
					<string> (KD)</string>
					<string> - CV</string>
					<string> </string>
					<string>.</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Deutsches Dunkel Pack</Name>
				<CountryName>Deutschland</CountryName>
				<CountryName_Eng>Germany</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-de-logos/master/</BaseURL>
				<Logos_TV>TV/Dark/</Logos_TV>
				<Logos_Radio>Radio/Dark/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
				<StringPartsToRemove>
					<string> (a_S)</string>
					<string> (S)</string>
					<string> (VF)</string>
					<string> - CV</string>
					<string> </string>
					<string>.</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Deutsches Licht Pack</Name>
				<CountryName>Deutschland</CountryName>
				<CountryName_Eng>Germany</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-de-logos/master/</BaseURL>
				<Logos_TV>TV/Simple/</Logos_TV>
				<Logos_Radio>Radio/Simple/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
				<StringPartsToRemove>
					<string> (a_S)</string>
					<string> (S)</string>
					<string> (VF)</string>
					<string> - CV</string>
					<string> </string>
					<string>.</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Hungarian pack</Name>
				<CountryName>Magyarország</CountryName>
				<CountryName_Eng>Hungary</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Hungary/trunk/</BaseURL>
				<Logos_TV>tv/</Logos_TV>
				<Logos_Radio>radio/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Irish pack</Name>
				<CountryName>Ireland</CountryName>
				<CountryName_Eng>Ireland</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Ireland/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>חבילה ישראלית</Name>
				<CountryName>יִשְׂרָאֵל</CountryName>
				<CountryName_Eng>Israel</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Israel/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Pacchetto Italiano</Name>
				<CountryName>Italia</CountryName>
				<CountryName_Eng>Italy</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Italy/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Lietuvos paketas</Name>
				<CountryName>Lietuva</CountryName>
				<CountryName_Eng>Lithuania</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Lithuania/trunk/</BaseURL>
				<Logos_TV>logos/tv/</Logos_TV>
				<Logos_Radio />
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Dutch pack</Name>
				<CountryName>Nederland</CountryName>
				<CountryName_Eng>Netherlands</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Netherlands/trunk/</BaseURL>
				<Logos_TV>logos/TV/Clear/</Logos_TV>
				<Logos_Radio>logos/Radio/Clear/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>New Zealand pack</Name>
				<CountryName>New Zealand</CountryName>
				<CountryName_Eng>New Zealand</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-NewZealand/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Nordisk pakke</Name>
				<CountryName>Norge</CountryName>
				<CountryName_Eng>Norway</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-nordic-logos/master/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
			</Package>
			<Package>
				<Name>Русский набор</Name>
				<CountryName>Россия</CountryName>
				<CountryName_Eng>Russia</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Russia/trunk/</BaseURL>
				<Designs>LogoManager/LogoManager/designs/</Designs>
				<Logos_TV>Simple/</Logos_TV>
				<Logos_Radio>Simple/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Logos Españoles</Name>
				<CountryName>España</CountryName>
				<CountryName_Eng>Spain</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Spain/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Nordisk pack</Name>
				<CountryName>Sverige</CountryName>
				<CountryName_Eng>Sweden</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-nordic-logos/master/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
			</Package>
			<Package>
				<Name>Swedish official set</Name>
				<CountryName>Sverige</CountryName>
				<CountryName_Eng>Sweden</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Sweden/trunk/</BaseURL>
				<Logos_TV>SE_logo_pack/TV/Transparent/</Logos_TV>
				<Logos_Radio>SE_logo_pack/Radio/Transparent/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove>
					<string> (S)</string>
					<string> (S/F)</string>
					<string> (D)</string>
					<string> (N)</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Swiss pack</Name>
				<CountryName>Schweiz</CountryName>
				<CountryName_Eng>Switzerland</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Switzerland/trunk/</BaseURL>
				<Logos_TV>TV/Clear200/</Logos_TV>
				<Logos_Radio>Radio/Clear200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>Український</Name>
				<CountryName>Україна</CountryName>
				<CountryName_Eng>Ukraine</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-Ukraine/trunk/Logos/</BaseURL>
				<Designs>Designs/</Designs>
				<Logos_TV>Clear/</Logos_TV>
				<Logos_Radio>Clear/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>British pack</Name>
				<CountryName>United Kingdom</CountryName>
				<CountryName_Eng>United Kingdom</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-UK/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
			<Package>
				<Name>American pack</Name>
				<CountryName>United States</CountryName>
				<CountryName_Eng>United States</CountryName_Eng>
				<BaseURL>http://subversion.assembla.com/svn/mediaportal.LogoPack-USA/trunk/</BaseURL>
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<SupportsLastModified>true</SupportsLastModified>
			</Package>
		</Packages>
		<AltDesigns>http://subversion.assembla.com/svn/mediaportal.LogoManager/trunk/LogoManager/LogoManager/designs/</AltDesigns>
	</Mapping>
	<Settings>
		<Group></Group>
		<GroupType></GroupType>
		<Package></Package>
		<LastSelectedPackage></LastSelectedPackage>
		<Design>Simple dark glow</Design>
		<ConfigUpdateURL>https://raw.githubusercontent.com/Jasmeet181/mediaportal-de-logos/master/LogoManager.config</ConfigUpdateURL>
	</Settings>
</Configuration>